<div class="welcome-section">
  <h2>Welcome to the Discussion Forum !</h2>
  <p>
    "A vibrant hub where diverse ideas converge, discussions thrive, and
    solutions emerge. Be part of a community where your questions and insights
    help shape the world around you."
  </p>
</div>
<button
  mat-raised-button
  color="accent"
  routerLink="/questions/new"
  class="post-btn"
>
  Ask
</button>
<div class="caro">
  <ng-container *ngIf="recentQuestions.length > 0">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let question of recentQuestions; let i = index">
        <ng-template carouselSlide>
          <a [routerLink]="['/questions', question.id]" class="carousel-link">
            <div class="carousel-card">
              <img
                class="carousel-image"
                [src]="imageList[i % imageList.length]"
              />
              <div class="carousel-content">
                <h3>{{ question.title }}</h3>
              </div>
            </div>
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </ng-container>
</div>
